
<nav class ="grey darken-3">

  <div class = "nav-wrapper">
    <a href "#!" class= "brand-logo black-text">Music Share</a>
    <a href "#" data-activates="mobile" class="dropdown-button black-text">
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Home', musicians_path%></li>
    </ul>
    <ul class="dropdown-content" id="mobile">
      <li><%= link_to 'Home', musicians_path%></li>
    </ul>
  </div>

</nav>
